@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.App {
  text-align: center;
}

input{
  padding: 20px 30px;
  background-color: #282c34;
  color:white;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border:2px solid greenyellow;
  color:white;
}
.add-button{
  color:white;
  padding:20px 30px;
  font-size: 20px;
  background-color: #282c34;
  font-family: 'Poppins', sans-serif;
  border:2px solid greenyellow;
  margin-left: 10px;
}
.add-button:hover{
  background-color: greenyellow;
  color:black;
  cursor: pointer;
  border: 2px solid white;
}
ul{
  text-align: center;
  list-style: none;
}
li{
  margin: 12px;
  margin-bottom: 10px;
  transition: 0.3s all;
  cursor: pointer;
}
.delete-button{
font-size: 10px;
margin-left: 8px;
border: none;
color: white;
border-radius: 4px;
padding-top: 4px;
padding-bottom: 4px;
cursor: pointer;
}

